<%= form_with model: Conversation::Message.new, local: true, 
      class: "conversation__composer",
      data: {
        action: "turbo:submit-end->conversation--composer#submitEnd",
        controller: "conversation--composer",
        conversation__composer_conversation__messages_outlet: "#conversation-messages" } do |form| %>

  <%= form.hidden_field :client_message_id, data: { conversation__composer_target: "clientMessageIdInput" } %>

  <div class="conversation__input">
    <%= form.text_field :content,
          autofocus: "on",
          placeholder: "Ask something…",
          class: "input input--textarea",
          data: {
            action: "
              keydown.enter->conversation--composer#submit 
              keydown.ctrl+enter->conversation--composer#submit", 
            conversation__composer_target: "textInput" } %>
  </div>
<% end %>
